.main{	
    text-align: center;
    padding-top: 15px;    
    font-size: 100%;
    text-shadow: 0.1em 0.1em #ffffff;    
    bottom: 0;
    left:0;
    right:0;
    width: 70%;	
	border-style: solid;
	border-width: thick;
	border-radius: 40px;
}


body{   
    background-color: beige;
    font-family: Helvetica, Arial;
	left: 30%;
	position: absolute;
	width: 60%;
}